[Unit]
Description="Loggly Forwarder"

[Service]
User=core
Restart=on-failure
ExecStartPre=/usr/bin/mkdir -p /home/core/bin
ExecStartPre=/bin/bash -c "if [ ! -e /home/core/bin/jq ]; then /usr/bin/wget https://stedolan.github.io/jq/download/linux64/jq --directory-prefix /home/core/bin/ && /usr/bin/chmod 0744 /home/core/bin/jq; fi"
ExecStartPre=/usr/bin/wget https://s3-us-west-2.amazonaws.com/test-devops/loggly/transform.sh -O /home/core/bin/transform.sh
ExecStartPre=/usr/bin/chmod 0744 /home/core/bin/transform.sh
ExecStart=/bin/bash -c "journalctl -o json -f | /home/core/bin/transform.sh | xargs -d '\n' -I{} curl -X POST --silent --show-error --retry-max-time 0 --connect-timeout 10 -d {} https://logs-01.loggly.com/inputs/xxxxx/tag/journald/ >/dev/null"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
