[Unit]
Description="Docker Image Reaper"

[Service]
User=core
RemainAfterExit=yes
ExecStartPre=/usr/bin/mkdir -p /home/core/bin
ExecStartPre=/usr/bin/wget https://s3-us-west-2.amazonaws.com/test-devops/reaper/reaper.sh -O /home/core/bin/reaper.sh
ExecStartPre=/usr/bin/chmod 0744 /home/core/bin/reaper.sh
ExecStart=/home/core/bin/reaper.sh

[X-Fleet]
Global=true
